@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 28 30% 20%;
    --card: 0 0% 100%;
    --card-foreground: 28 30% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 28 30% 20%;
    --primary: 28 24% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 166 40% 87%;
    --secondary-foreground: 28 24% 34%;
    --muted: 166 25% 95%;
    --muted-foreground: 28 15% 45%;
    --accent: 166 40% 87%;
    --accent-foreground: 28 24% 34%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 28 15% 85%;
    --input: 28 15% 85%;
    --ring: 28 24% 34%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
